doctype html
html
	head
		title = 'Blog'
	body
		div(style='float:left')
			a(href='/') Home
		
		div(style='float:right')
			if ( username && authenticated ) 
				a(href='/signout', style='margin:10px;') Sign Out
				a(href='/add_article', style='margin:10px;') Add Article
				a(href='/profile', style='margin:10px;') Profile
				span #(username)
			else
				a(href='/signin', style='margin:10px;') Log In
				a(href='/register', style='margin:10px;') Register
				a(href='/forget', style='margin:10px;') Forgot password
		
		div(style='padding:50px;')
			h1=title